<div class="text-center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <div class="desc">
    <h2>
      <%= t ".homepage" %>
      <%= link_to t(".ror_tut"), "http://www.railstutorial.org/", class: "tut" %>
      <%= t ".sample_app" %>
    </h2>
  </div>

  <%= link_to t(".signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
