<div class="text-center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <div class="desc">
    <h2>
      <%= t ".homepage" %>
      <a class="tut" href="http://www.railstutorial.org/"><%= t ".ror_tut" %></a>
      <%= t ".sample_app" %>
    </h2>
  </div>

  <%= link_to t(".signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
